    <p>
    <label>&{'client.name'}</label>
        <input type="text" name="client.name" id="name" value="${client?.name}" />
        <span>#{error 'client.name' /}</span>
    </p>
    <p>
        <label>&{'client.address'}</label>
        <input type="text" name="client.address" id="address" value="${client?.address}" />
        <span>#{error 'client.address' /}</span>
    </p>
    <p>
        <label>&{'client.classification'}</label>
        <input type="text" name="client.classification" id="classification" value="${client?.classification}" />
        <span>#{error 'client.classification' /}</span>
    </p>
    <p>
    <input type="submit" value="&{'save.client'}" />
    </p>
    <p>
        <a href="@{Clients.index()}">Cancelar</a>
    </p>
